<h1>new question</h1>
<% if current_user.admin == true %>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="form-inputs">
  <%= simple_form_for [@question] do |f| %>
  <%= f.input :title, label: 'Titre' %>
  <%= f.input :tag %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.button :submit, "Valider", class: "btn btn-primary" %>
   </div>
  </div>
</div>
  <% end %>
<% end %>
