<div class="container">
   <% if current_user.admin == true %>
    <%= link_to 'créer une nouvelle réponse', new_question_answer_path(@question), class: "btn btn-warning" %>
    <%= link_to 'close', question_close_path(@question.id), method: :patch, class: "btn btn-danger" %>
    <% end %>
  <div class="card-product">
    <%= cl_image_tag @question.photo, :class => "question-photo" %>
    <div class="card-product-infos">
        <h2> <%= @question.title %></h2>
        <% if @question.closed %>
          <%= "Terminé!" %>
        <% end %>
    </div>
  </div>
  <% @question.answers.sort_by(&:position).each do |answer| %>
    <div class="card-product">
        <% unless @question.closed %>
          <%= link_to 'Parier!', question_answer_path(@question, answer), class: "btn btn-danger" %>
        <% end %>
      <div class="card-product-infos">
        <h1> <%= answer.text %> </h1>
        Cote <%= answer.multiplier %>
      </div>
      <% if current_user.admin == true %>
        <%= link_to 'true', question_answer_true_path(@question, answer), method: :patch, class: "btn btn-success" %>
        <%= link_to 'false', question_answer_false_path(@question, answer), method: :patch, class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
