<div class="container">
  <div class="card">
    <h1 class="mx-auto font-custom-title">Paris terminés</h1>
    <p class="ml-3"> Trier: <%= link_to 'Tout Les paris', questions_path %> / <%= link_to 'Paris en cours', question_sort_path(1) %> /  <%= link_to 'par Tag', question_sort_tag_path(1) %> </p>
  </div>


<div class="row">
  <% @questions_sort_finish.each do |question| %>
      <div class="col-8 col-md-6">
        <div class="card m-3">
          <%= image_tag question.image , :class => "product-photo mx-auto mt-3" %>
          <div class="card-body">
            Tag: <strong> <%= question.tag %></strong>
            <h5 class="card-title"><%= question.title %></h5>
            <% if question.lock == false %>
              <%= link_to "Details", question_path(question), class: "btn btn-success m-2 rounded-pill border border-success" %>
            <% else %>
              <h2 class="font-custom"> Les Paris sont momentanément suspendus entre la parution des scans RAW et la traduction vf. Les résultats seront mis à jour.
              </h2>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
