<% if current_user.admin == true %>
<div class="container">
  <div class="row ">
    <div class="col-sm-12 col-sm-offset-12">
      <div class="form-inputs card m-3 p-4">
       <%= simple_form_for [ @article] do |f| %>
        <%= f.error_notification %>
        <%= f.input :title, label: 'Titre' %>
        <%= f.input :text, label: "texte" %>
        <%= f.input :image, label: "image" %>
        <%= f.input :link, label: "link" %>
  <div class="actions">
            <%= f.button :submit, "Valider", class: 'btn btn-primary' %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
  <br>
  <%= link_to "retour", products_path,  class: 'btn btn-warning' %>
</div>
<% end %>
