<div class="container">
  <div class="row">
    <% @user_answers.sort_by(&:amount).reverse.each do |user_answer| %>
      <% if user_answer.answer.status == 'Validé!' %>
        <div class="col-12 col-md-12">
          <div class="card m-3">
            <%= cl_image_tag user_answer.answer.question.photo , :class => "answer-photo mx-auto mt-3" %>
            <div class="card-body">
              <h5 class="card-title"><%= user_answer.answer.question.title %>  Réponse:
                <strong> <%= user_answer.answer.text %> </strong>
              </h5>
              <br>
                Montant misé:
              <strong> <%=number_with_delimiter(user_answer.amount, :delimiter => '.')%> B </strong>
                Gains remporter par <b> <%= user_answer.user.pseudo %> </b>:
              <strong> <%= number_with_delimiter(user_answer.amount * user_answer.answer.multiplier, :delimiter => '.') %>B </strong>
              <span class="text-success"> <%= user_answer.answer.status%></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
