
<div class="container">
  <h1>Vos Paris</h1>
<% @user_answers.sort_by(&:created_at).reverse.each do |user_answer| %>
    <div class="card-product">
      <%= cl_image_tag user_answer.answer.question.photo, :class => "question-photo" %>
      <div class="card-product-infos">
        <h2><%= user_answer.answer.question.title %></h2>
          Votre réponse:
            <%= user_answer.answer.text %>
          Montant misé:
            <%= user_answer.amount %>B
          Gain Potentiel en cas de bonne réponse:
          <%= user_answer.amount * user_answer.answer.multiplier %>
          <%= user_answer.answer.status %>
          <% if user_answer.answer.status == 'Validé!'  %>
          <%= link_to "Récupérez vos gains!", user_answer_win_path(user_answer), method: :patch, class: "btn btn-success" %>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
