  <div class="container card">
    <%= render 'shared/dashboard' %>
    <h1 class="center">Inventaire</h1>
    <div class="d-flex justify-content-between">
    <ul>
      <% @rewards.sort_by(&:category).each do |reward| %>
      <li>
        <%= reward.name %>
        <%= reward.category %>
        <%= image_tag reward.image , :class => "avatar-large" %>
        <%= reward.statut %>
        <% if @player.rewards.where(category: "FDD", statut: "équipé").count >= 1 && reward.category == "FDD" && reward.statut == "Non équipé" %>
          Vous ne pouvez pas manger 2 fruits du démon
        <% elsif reward.statut == 'Non équipé' %>
        <%= button_to 'équiper', reward_use_path(reward), method: :patch %>
        <% end %>
      </li>
      <% end %>
    </ul>
    <div class="d-flex flex-column">
    <% if @player.health < @player.max_health && @player.money >= 1000000%>
      <%= link_to "Récupérer +1 Santé pour 1M de Berrys?", buy_health_path, method: :patch, class: "badge-success badge-pill m-3",data: { disable_with: "" } %>
    <% elsif @player.health < @player.max_health && @player.money < 1000000%>
      +1 santé: Berrys insuffisants
      <br>
    <% end %>
    <% if @player.money >= 1000000%>
      <%= link_to "Récupérer +1 Action pour 1M de Berrys?", buy_action_path, method: :patch, class: "badge-danger badge-pill m-3",data: { disable_with: "" } %>
    <% else %>
      +1 action: Berrys insuffisants
    <% end %>
    </div>
    </div>

  </div>
