  <div class="container card">
  <%= render 'shared/dashboard' %>
  <h1 class="center">Inventaire</h1>
      <ul>
      <% @rewards.sort_by(&:category).each do |reward| %>
        <li>
        <%= reward.name %>
        <%= reward.category %>
        <%= image_tag reward.image , :class => "avatar-large" %>
        </li>
      <% end %>
      </ul>
    <h3> <%= link_to "☠️aller à Votre position☠️", island_place_path(Place.find_by(name: @player.position).island, Place.find_by(name: @player.position).id), class: "badge-dark badge-pill m-3" %>
    </h3>
  </div>
