<h1>add reward</h1>
<% if current_user.admin == true %>
<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="form-inputs">
  <%= simple_form_for [@mob, @reward] do |f| %>
  <%= f.input :name, label: 'Name' %>
  <%= f.input :category, label: 'Category' %>
  <%= f.input :image %>


  <%= f.button :submit, "Valider", class: "btn btn-primary" %>
   </div>
  </div>
</div>
  <% end %>
<% end %>
