  <div class="container card mt-3">
  <%= render 'shared/dashboard' %>
    <h1>Vous avez vaincu <%= @mob.name %>
      + <%= @mob.exp %>EXP et + <%= @mob.exp %> Berrys
      <br>
      <% if @log != nil && @log.content.include?("Félicitations") %>
        <%= @log.content %>
        <%= link_to rewards_path do %>
        <%= image_tag @log.image , :class => "avatar-reward" %>
        <% end %>
        <% @log.destroy %>
      <% end %>
    </h1>
    <h3> <%= link_to "☠️aller à Votre position☠️", island_place_path(Place.find_by(name: @player.position).island, Place.find_by(name: @player.position).id), class: "badge-dark badge-pill m-3" %>
    </h3>
  </div>
