<div class="d-flex">
<div class="bg-profil p-5 ml-4">
    <% if user_signed_in? %>
    <% if current_user.current_sign_in_at.to_date - current_user.last_sign_in_at.to_date >= 1 %>
      <% current_user.update(berrys: (current_user.berrys + 10_000)) %>
      <% if current_user.player != nil %>
        <% if current_user.player.action < 3 %>
          <% current_user.player.update(action: 3) %>
        <% end %>
        <% if current_user.player.in_fight == false %>
          <% current_user.player.update(health: current_user.player.max_health) %>
        <% end %>
      <% end %>
      <%  current_user.update(last_sign_in_at: (current_user.current_sign_in_at)) %>
    <% end %>
     <center> <%=cl_image_tag current_user.avatar, :class => "wanted-avatar" %></center>
    <div class="wanted-pseudo pl-1 ml-2"> <%=current_user.pseudo%></div>
    <div class="wanted-berrys pl-4 ml-5 pb-3 "> <%=number_with_delimiter(current_user.berrys, :delimiter => '.')%></div>
    <% else %>
        <%= link_to 'Login', new_user_session_path, class: "btn login-btn font-custom" %>
    <% end %>
</div>
  <div class="container banner mr-5 mt-5">
  </div>

</div>
  <ul class="container nav justify-content-center p-3 mb-2 bg-white ">
    <li class="m-2 font-custom-navbar">
      <%= link_to 'Accueil', root_path, class: current_class?(root_path) %>
    </li>


  <div class="dropdown m-2">
    <span class="font-custom-navbar">Jeux <i class="fas fa-chevron-down"></i></span>
      <div class="dropdown-content">
        <li class="m-2 font-custom-navbar">
          <%= link_to 'Paris', questions_path, class: current_class?(questions_path) %>
        </li>
        <li class="m-2 font-custom-navbar">
         <%= link_to 'Quiz', quiz_path, class: current_class?(quiz_path) %>
        </li>
        <li class="m-2 font-custom-navbar">
         <%= link_to 'Colisée', tournaments_path, class: current_class?(tournaments_path)%>
        </li>
        <% if user_signed_in? && current_user.admin == true %>
        <li class="m-2 font-custom-navbar">
          <%= link_to 'Quest', islands_path, class: current_class?(islands_path) %>
        </li>
        <% end %>
      </div>
  </div>

  <div class="dropdown m-2">
    <span class="font-custom-navbar">Profil <i class="fas fa-chevron-down"></i></span>
      <div class="dropdown-content">
        <li class="m-2 font-custom-navbar">
         <%= link_to 'Mes Paris', user_answers_path, class: current_class?(user_answers_path)%>
        </li>
        <li class="m-2 font-custom-navbar">
         <%= link_to 'Mes Commandes', orders_path, class: current_class?(orders_path)%>
        </li>
      </div>
  </div>



    <li class="m-2 font-custom-navbar">
     <%= link_to 'Boutique', products_path, class: current_class?(products_path) %>
    </li>
    <% if user_signed_in? && current_user.cart != nil %>
    <li class="m-2 font-custom-navbar">
     <%= link_to 'Mon Panier', cart_path(current_user.cart), class: current_class?(cart_path(current_user.cart)) %>
     <%if current_user.cart.items.size > 0 %>
        <%= link_to cart_path(current_user.cart) do %>
          <%= current_user.cart.items.size %>
          <i class="fas fa-shopping-basket"></i>
        <% end %>
     <% end %>
    </li>
    <% end %>
    <li class="m-2 font-custom-navbar">
     <%= link_to 'Classement', users_controller_index_path, class: current_class?(users_controller_index_path) %>
    </li>
    <%= link_to "https://www.instagram.com/davybackfight.rocks/?hl=fr",  class: 'btn' do %>
      <i class="fab fa-instagram fa-3x"></i>
    <% end %>
    <% if user_signed_in? %>
      <li class="m-2 font-custom-navbar">
      <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %>
      </li>
    <% end %>
  </ul>
