<div class="d-flex">
<div class="bg-profil">
    <% if user_signed_in? %>
     <center> <%=cl_image_tag current_user.avatar, :class => "wanted-avatar" %></center>
    <div class="wanted-pseudo pt-1 pl-1 mt-5 ml-5"> <%=current_user.pseudo%></div>
    <div class="wanted-berrys pl-5 ml-5"> <%=number_with_delimiter(current_user.berrys, :delimiter => '.')%></div>
    <% else %>
        <center><%= link_to 'Login', new_user_session_path, class: "btn login-btn" %></center>
    <% end %>
</div>
  <div class="container banner ml-1 mt-5 pt-5">
  </div>
</div>
<ul class="nav justify-content-center p-3 mb-2 bg-white">
  <li class="m-2">
   <%= link_to 'Accueil', root_path %>
  </li>
  <li class="m-2">
   <%= link_to 'Paris', questions_path %>
  </li>
  <li class="m-2">
   <%= link_to 'Profil', root_path %>
  </li>
</ul>
