<div class="container d-flex justify-content-center text-center mt-5">
  <div class="card p-3 center">
     <h2 class="font-custom-title"> <%= @users.sort_by(&:berrys).reverse.first.pseudo %> est le Seigneur des Pirates!</h2></li>
         <%= image_tag @users.sort_by(&:berrys).reverse.first.avatar, :class => 'classement-avatar mx-auto' %>
        <h3 class="font-custom"> <%=number_with_delimiter(@users.sort_by(&:berrys).reverse.first.berrys, :delimiter => '.')%> Berrys</h3>
        <hr>
      <div class="card p-3 center">
      <ol>
        <% @users.sort_by(&:berrys).reverse[1..4].each do |user| %>
          <li class="font-custom-title"> <h2 class="font-custom-title">Empereur : <%= user.pseudo %></h2></li>
           <%= image_tag user.avatar, :class => 'classement-avatar' %>
          <h3 class="font-custom"> <%=number_with_delimiter(user.berrys, :delimiter => '.')%> Berrys</h3>
          <hr>
        <% end %>
        <% @users.sort_by(&:berrys).reverse[5..-1].each do |user| %>
          <li class="font-custom-title"> <h2 class="font-custom-title"> <%= user.pseudo %></h2></li>
          <%= image_tag user.avatar, :class => 'classement-avatar' %>
          <h3 class="font-custom"> <%=number_with_delimiter(user.berrys, :delimiter => '.')%> Berrys</h3>
          <hr>
        <% end %>
      </ol>
    </div>
  </div>
</div>
