<div class="container">
<div class="card-product">
    <%= cl_image_tag @question.photo, :class => "question-photo" %>
    <div class="card-product-infos">
        <h2> <%= @question.title %></h2>
      <h1 class="font-custom-title"> <%= @answer.text %> </h1>
    </div>
  </div>

<div class="card-product">
      <div class="card-product-infos">
        <%= simple_form_for [@question, @answer, @user_answer] do |f| %>
          <%= f.error_notification %>
          <%= f.input :amount,label: 'Votre Mise? (Nombre entier)',
                as: :integer,
                required: true,
                input_html: { id: 'amount'}
        %>
      </div>
      Cote <div id="multiplier"> <%= @answer.multiplier %></div>
    <h2 class="m-5 ">Gains potentiels:
<span id = "result"></span>B
          <%= f.button :submit, "Valider", class: "btn btn-primary m-3" %>
</h2>
        <% end %>
    </div>

<script>

  let num2 = document.getElementById('amount')
  num2.addEventListener("change", function()
  {
    num1 = document.getElementById("multiplier").innerText;
    num2 = document.getElementById("amount").value;
    num3 = num1 * num2;
    document.getElementById("result").innerHTML = num3.toLocaleString('en')
  });


</script>
</div>
