<div class="container">
<div class="card-product">
    <%= cl_image_tag @question.photo, :class => "question-photo" %>
    <div class="card-product-infos">
        <h2> <%= @question.title %></h2>
      <h1> <%= @answer.text %> </h1>
      Cote <%= @answer.multiplier %>
    </div>
  </div>

<div class="card-product">
      <div class="card-product-infos">
        <%= simple_form_for [@question, @answer, @user_answer] do |f| %>
          <%= f.input :amount %>
          <%= f.button :submit, "Valider", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
</div>
