<div class="container bg-white">
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <% @cart.items.each do |item| %>
            <h5 class="card-title"><%= item.product.name %>
            <%= image_tag item.product.image, class: "product-photo mx-auto py-3" %>
              Quantité: <%= item.quantity %></h5>
              <hr>
          <% end %>
        </div>
    <%= simple_form_for @order, :url => items_order_create_path(@order) , :method => :items_order_create,   :order_id => @order   do |f| %>
         <h2>Total:  <%= number_to_currency(@cart.total, unit: "€", separator: ",", format: "%n %u") %></h2>
  <h1>Indiquez votre Nom et votre Prénom:</h1>
            <%= f.input :name, label: 'Nom et prénom',
                        required: true %>
  <h1>Indiquez votre adresse de livraison</h1>
          <div class="form-inputs">
              <%= f.error_notification %>
              <%= f.input :address, label: 'Adresse',
                          required: true %>
              <%= f.input :city,label: 'Ville', required: true %>
              <%= f.input :zipcode,label: 'Code Postal', required: true %>
              <%= f.input :nation, label: 'Pays',
                          required: true %>
            <%= f.input :tel, label: 'Numéro de téléphone', required: true %>
              <%= image_tag Product.first.image, class: "product-photo mx-auto" %>
              +<%= Product.first.price %>€
              <%= f.input :upsell, label: "Profitez d'une réduction sur cet article si vous l'ajoutez maintenant à votre commande" %>
              <h3>Utiliser un CODE PROMO</h3>
              <%= f.input :coupon, label: 'Code Promo' %>
            <%= f.button :submit, "Valider", class: "btn btn-primary m-5" %>
          </div>
        </div>
        <% end %>
    </div>
