<div class="container bg-white">
  <h1>Indiquez votre adresse de livraison</h1>
    <%= simple_form_for  do |f| %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <div class="form-inputs">
              <%= f.error_notification %>
              <%= f.input :address, label: 'Adresse',
                          required: true %>
              <%= f.input :city,label: 'Ville', required: true %>
              <%= f.input :zipcode,label: 'Code Postal', required: true %>
               <%= f.input :nation, label: 'Pays',
                          required: true %>
            <%= f.button :submit, "Valider", class: "btn btn-primary m-5" %>
          </div>
        </div>
        <% end %>
    </div>
