<div class="container bg-white">
   <div class="row mt-4 py-5">
    <div class="col-sm-12 col-md-4">
      <%= image_tag @product.image, class: "product-photo mx-auto" %>
    </div>
    <div class="col-sm-6 col-md-6">
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <p>Prix: <span id="price"> <%= @product.price %></span>€</p>
      Total: <span id = "total"><%= @product.price %></span> €

          <%= simple_form_for [@product, @order] do |f| %>
            <%= f.input :quantity,label: 'Quantité?',
                as: :integer,
                required: true,
                input_html: { id: 'quantity'} %>

          <h1>Indiquez votre Nom et votre Prénom:</h1>
            <%= f.input :name, label: 'Nom et prénom',
                        required: true %>
  <h1>Indiquez votre adresse de livraison:</h1>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-6">
        <div class="form-inputs">
            <%= f.error_notification %>
            <%= f.input :address, label: 'Adresse',
                        required: true %>
            <%= f.input :city,label: 'Ville', required: true %>
            <%= f.input :zipcode,label: 'Code Postal', required: true %>
            <%= f.input :nation, label: 'Pays',
                        required: true %>
            <%= image_tag Product.first.image, class: "product-photo mx-auto" %>
            +<%= (Product.first.price) %>€
            <%= f.input :upsell, label: "Profitez d'une réduction sur cet article si vous l'ajoutez maintenant à votre commande" %>
            <h3>Utiliser un CODE PROMO</h3>
            <%= f.input :coupon, label: 'Code Promo' %>
          <%= f.button :submit, "Valider", class: "btn btn-primary m-5" %>
        </div>
      </div>
  </div>
    </div>
  </div>
    <% end %>
</div>

<script>

  let num1 = document.getElementById('quantity')
  num1.addEventListener("change", function()
  {
    num1 = document.getElementById("quantity").value;
    num2 = document.getElementById("price").innerText;
    num3 = parseFloat(num2) * num1;
    document.getElementById("total").innerHTML = num3.toLocaleString('en')
  });


</script>
