<div class="container bg-white">
  <div class="row py-4">
    <div class="col-md-3"><%= image_tag @order.product.photo_url, width: '100%' %></div>
    <div class="col">
      <h1>Order #<%= @order.id %> <small><span class="badge badge-primary"><%= @order.state %></span></small></h1>
      <ul class="list-unstyled">
        <li><strong>ISSUED ON</strong> <%= @order.created_at.to_date %></li>
        <li><strong>PRODUCT</strong> <%= @order.product_name %> </li>
        <li><strong>QUANTITE</strong> <%= @order.quantity %> </li>
        <li><strong>TOTAL</strong> <%= humanized_money_with_symbol (@order.amount) %></li>
         <li><strong>ADRESSE DE LIVRAISON</strong> <%= @order.address %> <%= @order.zipcode %> <%= @order.city %> <%= @order.nation %></li>
        </li>
      </ul>
      <p>Estimated delivery in <strong>4 business weeks</strong></p>
    </div>
  </div>
</div>
