<div class="container">
  <h2 class="font-custom">Chaque bonne réponse rapporte 20K Berrys. 25 secondes pour répondre.</h2>
  <p>Actuellement <%= @quizs.count %> quiz disponibles.
    <% if current_user.numero_quiz > 0 %>
      <%= (current_user.numero_quiz - 1 ) %>/<%= @quizs.count %> terminés.
      <br>
      <br>
      <%# Soutenez le site via la boutique ou en faisant des dons ici: <a class="btn btn-success" href="https://davybackfight.cleverapps.io/products">Boutique</a> %>
    <% end %>
  </p>


  <% if current_user.numero_quiz == 0 %>
    <div class="card m-3">
      <%= link_to 'Démarrer les quiz?',
      plus_path , method: :patch, class: "btn btn-success", data: { disable_with: "Démarrer les quiz?" } %>
    </div>
  <% elsif current_user.numero_quiz > 0 && current_user.numero_quiz <= @quizs.count  %>
    <div class="col-12 col-md-12">
        <div class="card m-3">
          <div class="card-body">
            <h1 class="card-title font-custom"><%= @current_quiz.question %>

            </h1>
            <div class="row" id="validation">
              <% @current_quiz.quiz_answers.each do |answer| %>
                <div class="col-6 col-md-6 my-2" >
                  <div class="quiz_btn"> <%= link_to "#{answer.description}", quiz_quiz_answer_validation_path(@current_quiz, answer), method: :patch, class: "btn btn-success", data: { disable_with: "" } %>
                  </div>
                </div>
              <% end %>
            </div>
              <span id = "rep">
              </span>
              <span id = "result">
              </span>
              <div id="countdown"></div>
          </div>
        </div>
      </div>
    <% else %>
     <div class="mb-5"> il n'y a pas d'autres quiz pour le moment. </div>
  <% end %>

  <% if user_signed_in? && current_user.admin == true %>
    <%= link_to 'créer un quiz', new_quiz_path, class: 'btn btn-warning' %>
   <div class="row">
    <% @quizs.reverse.each do |quiz| %>
      <div class="col-12 col-md-12">
        <div class="card m-3">
          <div class="card-body">
            <h1 class="card-title font-custom"><%= quiz.question %> n° <%= quiz.numero %>
              <%= link_to 'ajouter réponse', new_quiz_quiz_answer_path(quiz), class: 'btn btn-warning' %>
              <%= link_to 'modifier le quiz', edit_quiz_path(quiz), class: 'btn btn-warning' %>
            </h1>
            <div class="row">
              <% quiz.quiz_answers.each do |answer| %>
                <div class="col-6 col-md-6">
                <p class="btn btn-primary btn-lg"> <%= answer.description %> <%= answer.status %> </p>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>




<% if @current_quiz != nil %>
<script>
  document.querySelectorAll('.quiz_btn').forEach(item => {
    item.addEventListener('click', event => {
      //handle click
          document.getElementById("countdown").remove()
          document.getElementById("validation").remove()
          document.getElementById("result").innerHTML = '  <%= link_to "Passer au quiz suivant", quiz_path , class: "btn btn-success m-2" %> '
          document.getElementById("rep").innerHTML = 'La réponse était :<strong> <%= @current_quiz.answer %></strong>'
    })
  })

  var timeleft = 25;
var downloadTimer = setInterval(function(){
  if(timeleft <= 0){
    clearInterval(downloadTimer);
    document.getElementById("validation").remove()
          document.getElementById("result").innerHTML = '  <%= link_to "Passer au quiz suivant", quiz_path , class: "btn btn-success m-2" %> '
          document.getElementById("rep").innerHTML = 'La réponse était : <strong> <%= @current_quiz.answer %></strong>'
    document.getElementById("countdown").innerHTML = "Terminé!";
    '<%       current_user.update(numero_quiz: (current_user.numero_quiz + 1)) %>'
  } else {
    document.getElementById("countdown").innerHTML = timeleft + " seconds remaining";
    document.getElementById("countdown").innerHTML = timeleft + " seconds restantes";
  }
  timeleft -= 1;
}, 1000);
</script>

<% end %>
