<div class="container bg-white">
  <h1>Panier</h1>

  <ul>
      <% @cart.items.each do |item| %>
        <li><%= item.product.name %>(X <%= item.quantity %>) <span class="badge badge-pill badge-primary"> <%= number_to_currency(item.total, unit: "€", separator: ",", format: "%n %u") %></span></li>
        <%= link_to "Supprimer cet article", item_path(id: item.id, check: item.id), method: :delete, data: { confirm: "Êtes-vous sur?"}, class: "btn btn-danger" %>
      <% end %>
  </ul>

<p class="font-weight-bold">Total : <span class="badge badge-pill badge-primary"> <%= number_to_currency(@cart.total, unit: "€", separator: ",", format: "%n %u") %></span></p>

<%= button_to "Vider le panier", @cart, method: :delete, data: { confirm: "Êtes-vous sur?"}, class: "btn btn-danger" %>
<p><%= link_to "Retourner à la boutique", products_path %> </p>
</div>
