<div class="container bg-white p-5">

  <h2 class="font-weight-bold d-flex justify-content-end">Total: <span class="badge badge-pill badge-primary"> <%= number_to_currency(@cart.total, unit: "€", separator: ",", format: "%n %u") %></span>
  </h2>
    <% if @cart.items == [] %>
     <h4> Votre panier est vide.</h4>
    <% else %>
    <span class="d-flex justify-content-end"> <%= link_to 'Commander', items_order_path, class: 'btn btn-success'%>
    </span>
    <% end %>

        <% @cart.items.each do |item| %>
        <div class="col-12 col-md-6">
          <div class="card m-3">
            <%= cl_image_tag item.product.photo , :class => "cart-photo mx-auto mt-3" %>
            <div class="card-body">
              <h5 class="card-title"><%= item.product.name %>(X <%= item.quantity %>) <span class="badge badge-pill badge-primary"> <%= number_to_currency(item.total, unit: "€", separator: ",", format: "%n %u") %></span>
              </h5>
                <%= link_to "Supprimer cet article", item_path(id: item.id, check: item.id), method: :delete, data: { confirm: "Êtes-vous sur?"}, class: "badge badge-pill badge-danger" %>
            </div>
          </div>
        </div>
      <% end %>

  <p><%= link_to "Retourner à la boutique", products_path, class: "badge badge-pill badge-success" %>
  </p>

  <%= button_to "Vider le panier", @cart, method: :delete, data: { confirm: "Êtes-vous sur?"} %>
</div>
