<div class="container">
  <%= render 'shared/dashboard' %>
  <% if @player.crew == "" %>
    <div class="container">
    <div class="row ">
      <div class="col-sm-12 col-sm-offset-12">
        <div class="form-inputs card m-3 p-4">
      <h1>Vous pouvez créer votre propre équipage</h1>
         <%= simple_form_for @player, :url => player_create_crew_path(@player), :method => :patch do |f| %>
          <%= f.error_notification %>
          <%= f.input :crew, label: 'Donner un nom à votre équipage' ,
                      required: true,
                      input_html: { maxlength: 25}%>
          <div class="actions">
              <%= f.button :submit, "Créer votre équipage", class: 'btn btn-primary' %>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
  <% else %>
    <div class="container card">
    <h2> Votre équipage: <%= @player.crew %></h2>
    <% if @player.captain == true %>
      <h3> Recrutement:  <%= @player.open_crew ? "ouvert au recrutement" : "Fermé" %> </h3>
    <% end %>
    <% if @player.open_crew == false && @player.captain == true %>
    <%= button_to "Ouvrir le recrutement",player_open_crew_path(@player), method: :post, class: "btn btn-success my-3" %>
    <% elsif @player.captain == true %>
      <%= button_to "Arrêter le recrutement",player_open_crew_path(@player), method: :post, class: "btn btn-warning my-3" %>
    <% end %>
    <% if @player.ship_options.include?('Flotte1') %>
    <p> <%= Player.where(crew: @player.crew).count %> Membre(s) / <%= Player.where(crew: @player.crew, captain: true).first.level + 1%> </p>
    <% else %>
      <p> <%= Player.where(crew: @player.crew).count %> Membre(s) / <%= Player.where(crew: @player.crew, captain: true).first.level %> </p>
    <% end %>
    <ul>
      <% Player.where(crew: @player.crew).each do |player| %>
        <li> <%= player.user.pseudo %> Prime: <%=number_with_delimiter(player.user.berrys, :delimiter => '.')%>B🪙
          <% if player.position == @player.position && @player.captain == true && @player != player %>
            même position: +1 bonus d'équipage
          <% end %>
        </li>
        <% if @player.captain == true && player != @player %>
          <%= button_to "Retirer de votre équipage",player_kick_crew_path(player), method: :post, data: { confirm: "Êtes-vous sur de vouloir retirer ce membre de votre équipage?"}, class: "btn btn-warning my-3" %>
        <% end %>
      <% end %>
    </ul>
    <% if @player.captain == true %>
    <span>  Vous êtes le <strong> Capitaine </strong> </span>
      <%= button_to "Dissoudre l'équipage",player_destroy_crew_path(@player), method: :post, data: { confirm: "Êtes-vous sur de vouloir dissoudre votre équipage?"}, class: "btn btn-danger my-3" %>
    <% else %>
      <%= Player.where(crew: @player.crew, captain: true).first.user.pseudo %> est votre capitaine.
      <%= button_to "Quitter l'équipage",player_leave_crew_path(@player), method: :post, data: { confirm: "Êtes-vous sur de vouloir quitter votre équipage?"}, class: "btn btn-danger my-3" %>
    <% end %>
  <% end %>
  </div>
</div>
