  <%= render 'shared/dashboard' %>
  <div class="container card">
    <h1>Vous avez vaincu <%= @enemy.user.pseudo %>
      + <%= (@enemy.level * 100) %>XP et + <%= @enemy.user.berrys/2 %> Berrys
      <br>
      <% @logs.each do |log| %>
        <%= log.content %>
        <%= image_tag @player.rewards.select{ |reward| log.content.include?(reward.name)}.first.image , :class => "avatar-large" %>
        <% log.destroy %>
      <% end %>
    </h1>
    <h3> <%= link_to "☠️aller à Votre position☠️", island_place_path(Place.find_by(name: @player.position).island, Place.find_by(name: @player.position).id), class: "badge-dark badge-pill m-3" %>
    </h3>
  </div>
