<div class="container">
  <% if user_signed_in? && current_user.admin == true  %>
    <%= link_to 'Ajouter un produit', new_product_path, class: "btn btn-warning" %>
  <% end %>
      <div class="col-12 col-md-8 text-center mx-auto">
        <div class="card mb-4">
        <h2 class="text-center m-2 font-custom-title"><%= @article.title %></h2>
        <% if @article.image != nil %>
          <%=  image_tag @article.image, :class => "article-photo"  %>
        <% end %>
        <h3 class="m-3 font-custom"><%=  @article.text%>
        <% if @article.link != nil %>
          <%= link_to @article.link, @article.link, target: :_blank %>
        </h3>
        <% end %>
        <% if user_signed_in? && current_user.admin == true %>
                <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-warning" %>
              <% end %>
      </div>
      </div>
  <div>
    <h2 class=" p-2 text-center font-custom-title"> <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Catégories  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <% @products.uniq{|product| product.tags}.each do |product| %>
        <% if product.tags != "" %>
      <br>
         <%= link_to "#{product.tags}", product_tags_product_path(product) %>
      <br>
        <% end %>
    <% end %>
  </div>
</div> </h2>
  </div>

  <div class="row">
    <% @products.uniq{|product| product.tags}.each do |product| %>
        <% if product.tags != "" %>
          <div class="col-12 col-md-12">
            <div class="card m-3">
      <br>
            <h1 class="text-center"><%= link_to "#{product.tags}", product_tags_product_path(product), class: "badge badge-pill badge-dark m-2 mt-3" %>
            </h1>
      <br>
            <div class="row">
              <% @products.where(tags: product.tags).first(6).each do |product| %>
                 <div class="col-12 col-md-4">
                  <div class="card m-3">
                    <%= link_to product_path(product), class: "text-center" do %>
                     <% if product.image != nil %>
                      <%= image_tag product.image , :class => "product-photo center mt-3" %>
                    <% end %>
                  <% end %>
                    <div class="card-body">
                      <h5 class="card-title font-custom"><%= product.name %> <%= product.price %>€</h5>
                      <%= link_to "Détails", product_path(product), class: "btn btn-primary" %>
                      <% if user_signed_in? && current_user.admin == true %>
                        <%= link_to 'Edit', edit_product_path(product), class: "btn btn-warning" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          </div>
        <% end %>
    <% end %>
  </div>
