<div class="container py-3 bg-white">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag @product.image, class: "product-photo product-photo-show mx-auto" %>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1 class="font-custom"><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <h3>Prix: <strong> <%= @product.price %>€ </strong> / Frais de port: <strike> 3,79€ </strike> <font color="lime"> offerts</font>!</h3>
     <div> <%= link_to 'Commander', new_product_order_path(@product), class: 'btn btn-primary' %></div> <br>
      <%= button_to 'Ajouter au Panier', items_path(product_id: @product) %>
    </div>
  </div>
</div>
