<div class="container py-3 bg-white">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag @product.image, class: "product-photo product-photo-show mx-auto" %>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1 class="font-custom"><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <h3>Prix: <strong> <%= @product.price %>€ </strong>
      <% unless @product.name.include?'partenariat' %>
        /
        Frais de port: <strike> 3,79€ </strike> <font color="lime"> offerts</font>!</h3>
      <% end %>
     <div> <%= link_to 'Commander', new_product_order_path(@product), class: 'btn btn-primary' %></div> <br>
      <% unless @product.name.include?'partenariat' %>
        <%= button_to 'Ajouter au Panier', items_path(product_id: @product) %>
      <% end %>
    </div>
  </div>
  <% if @product.carousel != [] %>
    <div id="carousel-Product" class="carousel slide m-5" data-ride="carousel" data-interval="2000">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag @product.carousel[0], class: "product-photo product-photo-show mx-auto" %>
        </div>
        <% if @product.carousel[1] != nil && @product.carousel[1] != ""%>
        <div class="carousel-item">
          <%= image_tag @product.carousel[1], class: "product-photo product-photo-show mx-auto" %>
        </div>
        <% end %>
        <% if @product.carousel[2] != nil && @product.carousel[2] != "" %>
        <div class="carousel-item">
          <%= image_tag @product.carousel[2], class: "product-photo product-photo-show mx-auto" %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
