<% if @place.condition == "" || @player.defeated_mob.include?(@place.condition) %>
  <div class="row">
    <div class="container">
      <%= render 'shared/dashboard' %>
      <h2 class="font-custom text-center  "> <%= @place.name %>
        <br>
        <%= link_to 'Retourner à la carte de  l\'île', island_path(@place.island_id), class: "btn btn-dark badge-pill m-3" %> </h1>

        <%= image_tag @place.image , :class => "product-photo center mt-3" %>
      </h2>
      <div class="m-3 d-flex">
        <div class="card col-6 col-md-6 mx-2">
          <% if @player.position == @place.name %>
          <h4>Vous êtes ici☠️</h4>
          <span class="m-3"> Joueurs présents à cet endroit: </span>
          <ul>
            <% @players.each do |player| %>
            <% if player.user == current_user || player.user.admin == true %>
            <% else %>
            <li> <%= player.user[:pseudo] %> LVL:<%= player.level %> Prime: <%=number_with_delimiter(player.user[:berrys], :delimiter => '.')%>B🪙
              <% if player.crew != ""%>
                Équipage: <%= player.crew %> <%= player.crew == @player.crew ? '(Allié)' : nil %>
              <% end %>
              <% if @player.in_fight == false && @player.health > 0 && @player.action >= 1  %>
                <% if player.rewards.where(statut: "A Vendre") != [] %>
                  <%= link_to 'Objet en vente', player_shop_path(player), class: "btn btn-warning my-2" %>
                <% end %>
                <% if player.open_crew == true && @player.crew == "" && player.in_fight == false && player.level > Player.where(crew: player.crew).count %>
                  <%= button_to "Rejoindre son équipage?",player_join_crew_path(player),data: { confirm: "Êtes-vous sur de vouloir rejoindre cet équipage?"}, method: :post, class: "btn btn-success my-2" %>
                <% end %>
                <% if !(@player.crew == player.crew) || @player.crew == "" %>
                  <%= button_to 'Combattre ⚔️ (1pt d\'action)', player_pvp_launch_path(player), method: :post %>
                <% end %>
              <% end %>
            </li>
            <br>
            <% end %>
            <% end %>
          </ul>
          <% else %>
          Vous devez vous déplacer à cet endroit pour voir les joueurs qui s'y trouvent.
          <% end %>
        </div>
        <div class="card col-6 col-md-6  mx-2">
          <% if current_user.admin == true %>
          <%= link_to 'créer un nouveau mob', new_place_mob_path(@place), class: "btn btn-warning" %>
          <% end %>
            <% if @player.position != @place.name %>
              Vous devez vous déplacer à cet endroit pour voir les personnages qui s'y trouvent.
            <% else %>
          <ul> Personnages présents à cet endroit:
            <% @place.mobs.each do |mob| %>
              <% if mob.condition != "" && !(mob.condition.split("/") - @player.defeated_mob).empty? %>
              <% else %>
                <%= image_tag mob.image , :class => "product-photo center mt-3" %>
                <li><%= mob.name %> <% if @player.defeated_mob.include?(mob.name) %> (vaincu) <% end %>
                  LVL:<%= mob.level %>💪 Santé:<%= mob.health %>❤️ Bonus:<%= mob.bonus %>🍈
                  <% if @player.health <= 0 %>
                    Vous devez attendre de récupérer de la santé pour combattre (santé maximum récupérée chaque jour)
                  <% else %>
                  <h3> <%= link_to 'Combattre ⚔️', mob_path(mob)%> </h3>
                  <% end %>
                </li>
                <% if current_user.admin == true %>
                  <%= link_to 'créer reward', new_mob_reward_path(mob), class: "btn btn-warning" %>
                <% end %>
              <% end %>
            <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-0 col-md-2 text-center mt-4">
      <div class="card mb-4">
        <% if @article.image != nil %>
        <%=  image_tag @article.image  %>
        <% end %>
        <h2 class="text-center m-2 font-custom-title"><%= @article.title %></h2>
        <h3 class="m-3 font-custom"><%=  @article.text%>
        </h3>
        <% if user_signed_in? && current_user.admin == true %>
        <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-warning" %>
        <% end %>
      <ul>
        <% @player.quest_logs.each do |log| %>
        <li>
          <%= log.content %> <%= log.created_at.getlocal.strftime("%d %b. %Y à %kh:%M") %>
        </li>
        <% end %>
      </ul>
      </div>
    </div>
  </div>
<% else %>
  <%= link_to "☠️Aller à votre position☠️", island_place_path(Place.find_by(name: @player.position).island, Place.find_by(name: @player.position).id), class: "badge-dark badge-pill m-3" %>
<% end %>
